<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#1f1f1f" />
    <title>@ViewData["Title"] Faceit Stats Provider</title>
    <link rel="icon" type="image/x-icon" href="/niewypelnione2.ico" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Faceit_Stats_Provider.styles.css" asp-append-version="true" />
    <link href="https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Play:wght@700&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark navbarcolor box-shadow mb-3">
            <div class="container-fluid">
                <a href="/">
                    <img src="~/niewypelnione2.png" width="35" height="35" class="logo" />
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">

                    @{
                        var currentAction = ViewContext.RouteData.Values["action"]?.ToString();
                        var currentController = ViewContext.RouteData.Values["controller"]?.ToString();
                        var currentArea = ViewContext.RouteData.Values["area"]?.ToString();
                        var currentPath = $"{currentArea}/{currentController}/{currentAction}";
                    }
                    <ul class="navbar-nav flex-grow-1">
                        @if (currentPath != "/Home/Index")
                        {
                            <li><a class="navbar-brand nav-HOME" asp-area="" asp-controller="Home" asp-action="Index"><span>HOME</span></a></li>
                        }
                        else
                        {
                            <li><a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><span style="color:#ff3c22"><strong>FACEIT STATS PROVIDER</strong></span></a></li>
                            <li><a class="navbar-brand faq-link" asp-area="" asp-controller="FAQ"><span>FAQ</span></a></li>
                        }
                        <li class="nav-item d-flex align-items-center">
                            <span class="nav-starfield replace-white">starfield off</span>
                            <div class="form-check form-switch starfield-switch">
                                <input class="form-check-input starfield-check-input" type="checkbox" id="starfieldSwitch">
                                <label class="form-check-label starfield-check-label" for="starfieldSwitch"></label>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
            <div class="bg"></div>
            <div class="star-field">
                <div class="layer"></div>
                <div class="layer"></div>
                <div class="layer"></div>
            </div>
        </main>
    </div>

    <footer class="footer text-muted">
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const toggleSwitch = document.getElementById('starfieldSwitch');
            const body = document.body;

            function saveToggleState(state) {
                localStorage.setItem('starfieldToggleState', state);
            }
            
            function loadToggleState() {

                const state = localStorage.getItem('starfieldToggleState') === 'true';
                toggleSwitch.checked = state; 
                body.classList.toggle('toggle-on', state); 
            }

            toggleSwitch.addEventListener('change', function () {
                const state = toggleSwitch.checked; 
                body.classList.toggle('toggle-on', state); 
                saveToggleState(state); 
            });

            loadToggleState(); 
        });
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
