@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<div style="text-align: center; margin-top: 30px;">
    <h1 class="text-danger" style="margin-bottom: 30px;">Error</h1>
    <h2 class="text-danger" style="margin-bottom: 30px;">An error occurred while processing your request.</h2>

    @if (Model.ShowRequestId)
    {
        <p style="margin-bottom: 30px;">
            <strong>Request ID:</strong> <code>@Model.RequestId</code>
        </p>
    }

    <p style="margin-bottom: 30px;">
        If you see this message, you should contact the website owner and report the issue.
    </p>
</div>
