@model Faceit_Stats_Provider.Models.PlayerStats

@using (Html.BeginForm("PlayerStats", "PlayerStats", FormMethod.Get))
{
    <div class="row box">
        <div class="col-sm-12">

            <input type="text" placeholder="Enter your nickname" name="nickname" />
            <input type="submit" value="Search"/>
        </div>
    </div>
}