@using (Html.BeginForm("PlayerStats", "PlayerStats", FormMethod.Get))
{
    <div class="row box">
        <div class="col-sm-12 search-container">
            <input type="text" id="animatedInput" placeholder="" name="nickname" />
            <input type="submit" value="Search" />
        </div>
    </div>
}