Faceit_Stats_Provider/appsettings.json
/bin/*
**/bin/*
/bin/Debug
**/bin/Debug
**/bin
**/bin/debug
/obj/*
/obj/
**/obj/*
/obj/Debug
**/obj/Debug
**/obj
**/obj/debug
/vs/*
/vs/
**/vs/*
/.vs/*
/.vs/
**/.vs/*
**/.vs/
.vs/
