

#Extension-Name {
    color: RGB(224, 17, 95);
    font-family: 'Elemental End', sans-serif;
    font-size: 32px;
    text-align:left;
}


#Extension-Introduction {
    max-width: 90%;
    margin-top: 8%;
    margin-bottom: 5%;
    text-align: justify;
    line-height: 1.6; 
}

    #Extension-Introduction span {
        display:block;
        margin-bottom:6.7%;
    }

#Extension-Introduction em {
    font-style: normal; /* Remove italic styling */
    color: #cc4400; /* Apply your desired color */
}

.col-md-6 {
    height:100%;
}

#Extension-Video {
    display: flex;
    justify-content: center;
    margin-top: 0%;
    box-shadow: 0px 4px 10px rgba(224, 17, 95, 0.7);
}

#Extension-Example-Person-Images {
    background: linear-gradient(to right, rgba(22, 22, 22, 0) 0%, rgb(22, 22, 22) 25%, rgb(22, 22, 22) 75%, rgba(22, 22, 22, 0) 100%);
    width: 100%;
    margin-bottom: 5%;
    margin-top: 0%;
}


    .image-container img {
        display:inline-block;
    }

.image-container span {
    margin-left:25%;
}



#Browsers {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 15px;
    margin-top: 5%;
    margin-bottom: 8%;
}

.browser-button {
    display: inline-flex;
    align-items: center;
    padding: 4px 15px;
    background-color: #333;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

    .browser-button img {
        margin-right: 10px; 
    }


    .browser-button:hover {
        border: 1px solid #cc4400;
        color:white;
    }

/* Specific styling for different browsers */
.chrome, .opera, .firefox, .edge {
    background-color: #222222;
    border: 1px solid #222222;
}


#Available-Info {
    display:flex;
    justify-content:center;
    width:89%;   
}


#Extension-Image {
    display:flex;
    justify-content:center;
    align-items:center;
}