.PlayerAnalyzer {
    width: 95%;
    border: solid 1px #ff3c22;
    border-radius: 30px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    padding: 3px;
    cursor: pointer;
}

    .PlayerAnalyzer:hover {
        background-color: rgba(255,60,34,0.3);
    }

.PlayerAnalyzerContent {
    display: flex;
    align-items: center;
    width: 100%;
    margin-left: 43%;
}

.PlayerAnalyzeplus {
    margin-right: 1%;
    cursor: pointer;
    width: 20px;
    height: 20px;
    flex-shrink: 0;
}

.PlayerMapsAnalyzer {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
}

.map-item {
    width: 50%;
    box-sizing: border-box;
    padding: 5px;
    text-align: left;
    margin-bottom: 5%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Adjust alignment as needed */
}

.MapIcon {
    margin-right: 2%;
    margin-top:3%;
}

.hidden {
    display: none;
}

.AnalyzerResult {
    font-weight: bold;
    margin-left: 3%;
    margin-right: 1.5%;
}

.AnalyzerResultPlayer {
    font-weight: bold;
    margin-left: 3%;
    margin-right: 1.5%;
}
.map-item-stats-container {
    margin-left: 20%;
    padding-right: 10%;
    margin-top: -13.5%;
}

.AnalyzerResultOverall {
    font-weight: bold;
    margin-left: 1%;
    margin-right: 1%;
}

.AnalyzerResultOverallLast10 {
    font-weight: bold;
    margin-left: 1%;
    margin-right: 1%;
}

.title {
    font-size: 30px;
    font-weight: bold;
    color: #F20707;
}

.subtitle {
    font-size: 22px;
    font-weight: bold;
    color: #5A0273;
}

.maps-container {
    display: flex;
    flex-direction: column;
    align-items: center;
/*    margin-left:6%;*/
    margin-bottom:5%;
    width: 80%;
}

.map-item-element {
    width: 100%;
}

.map-item-element-Last20 {
    margin-top: -7%;
    padding-right: 20%;
    margin-left:10%;
}

.map-item {
    display:inline-block;
}

.ActualMapElements {
    display:flex;
}


.AnalyzerMapNameStyle {
    font-weight:bold;
}

.FastChoiceContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
    margin-bottom: 5%;
}

.FastChoiceMainMapInfo {
    display: inline-block;
    margin-right: 8%;
    padding-left: 3%;
    border-left: 1px solid rgba(80, 200, 120, 1);
    border-left: 1px solid rgba(224, 17, 95, 1);
}

.ResultFastChoiceMapName {
    font-weight: bold;
    font-size: 23px;
    display: flex;
    align-items: center;
}

    .ResultFastChoiceMapName img {
        margin-top:3%;
        margin-right: 8%;
    }

.HowIsItCalculated {
    margin-top: -10%;
}

    .HowIsItCalculated a {
        text-decoration: none;
        font-size: 12px;
        color: #ff3c22;
    }

        .HowIsItCalculated a:hover {
            color: #f2f2f2;
        }

.BestPicksNStatsContainer {
    display: inline-block;
    text-align:center;
    width:100%;
}

.BestPicks, .Combined {
    margin-bottom: 8%;
    margin-top: 6%;
    color: #ff3c22;
}

.BestPicks span {
    margin-left: 1%;
}


.CombinedInfo {
    margin-right:1.5%;
}

.CombinedLast20PlayerStatsAnalyzer, .CombinedCombinedPlayerStatsAnalyzer {
    width: 100%;
    margin-bottom: 6%;
    display: flex;
    justify-content: center;
}

.CombinedLast20PlayerStatsAnalyzer-item {
    font-weight: bold;
    margin-left: 1%;
    margin-right: 1%;
}

.formula {
    font-size: 16px;
    margin: 20px;
    margin-bottom:10%;
    margin-top:10%;
}

.formulaWages {
    margin-top:5%;
}

.formula code {
    padding: 2px 4px;
    border-radius: 4px;
}

.FAQBestPicks {
    font-size: 16px;
}

.NormalizationFormula {
    color: #5A0273;
    font-weight:bold;
    font-size:20px;
    margin-left: 2%;
    margin-top: 5%;
    margin-bottom: 8%;
}

.MinOverallMatchesInfo {
    margin-top:5%;
    margin-bottom:3%;
    margin-left:1.5%;
}

.formulaNormalization {
    margin-top:5%;
}

.ExcludePlayerSwitch {

    display:flex;
    margin-left:-12%;
    padding-right:4%;


}


.SearchStatsInfoAnalyzer {
    color: #F2F2F2;
    margin: 0;
    position: absolute;
    top: 62%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 650px;
}




.flex-container {
    display: flex;
    align-items: flex-start;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 5%;
    padding-left: 4%;
    white-space: nowrap;
}

.OverallAnalyzeMap {
    display: flex;
    justify-content: flex-start;
    width: 80%;
    margin: 10px 0;
    box-sizing: border-box;
    padding-left: 2%;
    align-items: flex-start;
    position: relative;
    align-items: center;
}


.OverallAnalyzerMapDetails {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 2%;
    padding-top: 4%;
    margin-left: 3%;
}

.OverallAnalyzerMapName {
    align-items: center;
    text-align: left;
    margin-bottom: 5px;
    height: auto;
    margin-top: -1%;
    box-sizing: border-box;
    
}


.OverallLast20AnalyzeMap {
    display: flex;
    box-sizing: border-box;
    justify-content: left;
    margin: 10px 0;
    width: 100%;
    box-sizing: border-box;
    align-items: flex-start;
    align-items: stretch;
    margin-top: -2%;
}


.AnalyzerMapNameStyle {
    font-weight: bold;
}


.OverallAnalyzeMap img {
    display: block; 
    margin: 0 auto; 
    align-self: center;
}



.OverallAnalyzeMap::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 585px;
    background: linear-gradient(to right,  rgba(224, 17, 95, 0.15) 85%, rgba(224, 17, 95, 0.1) 90%, rgba(224, 17, 95, 0.05) 95%, rgba(224, 17, 95, 0) 100%);
    z-index: -1; /* Make sure the pseudo-element is behind the content */
}

/*.OverallAnalyzeMap::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 85px;
    background: linear-gradient(to right, rgba(80, 200, 120, 0.3) 70%, rgba(80, 200, 120, 0.25) 75%, rgba(80, 200, 120, 0.2) 80%, rgba(80, 200, 120, 0.15) 85%, rgba(80, 200, 120, 0.1) 90%, rgba(80, 200, 120, 0.05) 95%, rgba(80, 200, 120, 0) 100%);
    z-index: -1;*/ /* Make sure the pseudo-element is behind the content */
/*}*/



.InvalidMatchRoomLink {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

    .InvalidMatchRoomLink .InvalidLinkInfoMessage {
        font-size: 30px;
        font-weight: bold;
        margin-top: -50vh;
    }

.Last20InfoText {
    margin-top:0.5%;
}


.IncludeCsGoStatsForAnalyzer-switch {
    display: flex;
    align-items: center;
    margin-left: -14%;
    margin-top: 2%;
}

.IncludeCsGoStatsForAnalyzer-check-input {
    display: none;
}

.IncludeCsGoStatsForAnalyzer-check-label {
    position: relative;
    display: inline-block;
    width: 32px;
    height: 16px;
    background-color: #303030;
    border-radius: 8px;
    cursor: pointer;
}

.IncludeCsGoStatsForAnalyzer-check-input:checked + .IncludeCsGoStatsForAnalyzer-check-label {
    background-color: #ff3c22;
}

.IncludeCsGoStatsForAnalyzer-check-label::before {
    content: '';
    position: absolute;
    width: 12px;
    height: 12px;
    background-color: #fff;
    border-radius: 50%;
    left: 2px;
    top: 2px;
    transition: transform 0.3s ease;
}

.IncludeCsGoStatsForAnalyzer-check-input:checked + .IncludeCsGoStatsForAnalyzer-check-label::before {
    transform: translateX(16px);
}


.nav-IncludeCsGoStatsForAnalyzer {
    color: #f2f2f2;
    font-size: 1rem; /* Font size matches FAQ */
    margin-top:1%;
    margin-left:2.5%;
}
