.PlayerAnalyzer {
    width: 95%;
    border: solid 1px #ff3c22;
    border-radius: 30px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    padding: 3px;
    cursor: pointer;
}

    .PlayerAnalyzer:hover {
        background-color: rgba(255,60,34,0.3);
    }

.PlayerAnalyzerContent {
    display: flex;
    align-items: center;
    width: 100%;
    margin-left: 43%;
}

.PlayerAnalyzeplus {
    margin-right: 1%;
    cursor: pointer;
    width: 20px;
    height: 20px;
    flex-shrink: 0;
}

.PlayerMapsAnalyzer {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
}

.map-item {
    width: 50%;
    box-sizing: border-box;
    padding: 5px;
    text-align: left;
    margin-bottom: 5%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Adjust alignment as needed */
}

.MapIcon {
    margin-right: 2%;
    margin-top:3%;
}

.hidden {
    display: none;
}

.AnalyzerResult {
    font-weight: bold;
    margin-left: 3%;
    margin-right: 1.5%;
}

.AnalyzerResultPlayer {
    font-weight: bold;
    margin-left: 3%;
    margin-right: 1.5%;
}
.map-item-stats-container {
    margin-left: 20%;
    padding-right: 10%;
    margin-top: -13.5%;
}

.AnalyzerResultOverall {
    font-weight: bold;
    margin-left: 2.5%;
    margin-right: 2.5%;
}

.AnalyzerResultOverallLast10 {
    font-weight: bold;
    margin-left: 1.5%;
    margin-right: 1.5%;
}

.title {
    font-size: 30px;
    font-weight: bold;
    color: #F20707;
}

.subtitle {
    font-size: 22px;
    font-weight: bold;
    color: #5A0273;
}

.maps-container {
    display: flex;
    flex-direction: column;
    align-items: center;
/*    margin-left:6%;*/
    margin-bottom:5%;
    width: 80%;
}

.map-item-element {
    width: 100%;
}

.map-item-element-Last20 {
    margin-top: -7%;
    padding-right: 20%;
    margin-left:10%;
}

.map-item {
    display:inline-block;
}

.ActualMapElements {
    display:flex;
}

.OverallAnalyzeMap {
    display: flex;
    justify-content: flex-start;
    width: 80%;
    margin: 10px 0;
    box-sizing: border-box;
    border-left: 1px solid #E0115F;
    padding-left: 4%;
    align-items: stretch;
}

.OverallLast20AnalyzeMap {
    display: flex;
    justify-content: left;
    width: 80%;
    margin: 10px 0;
    box-sizing: border-box;
    padding-left: 4%;
    align-items: stretch;
    margin-top:-0.5%;
}

    .OverallAnalyzeMap span,
    .OverallLast20AnalyzeMap span {
        flex-grow: 1;
    }

    .OverallAnalyzeMap span{
        display: flex;
        justify-content: space-between;
    }

    .flex-container {
    display: flex;
    align-items: flex-start;
    width: 100%;
    box-sizing: border-box;
    margin-top: -4%;
    padding-left: 4%;
    white-space: nowrap;
}

.margin-div {
    width: 18.7%;
    height: 45px;
}

.OverallAnalyzeMap img {
    margin-top:0;
}

.OverallAnalyzerMapName {
    display: flex;
    align-items: center;
    margin-top: 2%;
    padding: 5px;
    text-align: left;
    margin-top: -2%;
    margin-bottom: 15px;
    height: auto;
    box-sizing: border-box;
}

.AnalyzerMapNameStyle {
    font-weight:bold;
}

.FastChoiceContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
    margin-bottom: 5%;
}

.FastChoiceMainMapInfo {
    display: inline-block;
    margin-right: 10%;
}

.ResultFastChoiceMapName {
    font-weight: bold;
    font-size: 23px;
    display: flex;
    align-items: center;
}

    .ResultFastChoiceMapName img {
        margin-top:3%;
        margin-right: 8%;
    }

.HowIsItCalculated {
    margin-top: -10%;
}

    .HowIsItCalculated a {
        text-decoration: none;
        font-size: 12px;
        color: #ff3c22;
    }

        .HowIsItCalculated a:hover {
            color: #f2f2f2;
        }

.BestPicksNStatsContainer {
    display: inline-block;
    text-align:center;
    width:100%;
}

.BestPicks, .Combined {
    margin-bottom: 8%;
    margin-top: 6%;
    color: #ff3c22;
}

.BestPicks span {
    margin-left: 1%;
}


.CombinedInfo {
    margin-right:1.5%;
}

.CombinedLast20PlayerStatsAnalyzer, .CombinedCombinedPlayerStatsAnalyzer {
    width: 100%;
    margin-bottom: 6%;
    display: flex;
    justify-content: center;
}

.CombinedLast20PlayerStatsAnalyzer-item {
    font-weight: bold;
    margin-left: 1%;
    margin-right: 1%;
}

.formula {
    font-size: 16px;
    margin: 20px;
    margin-bottom:10%;
    margin-top:10%;
}

.formulaWages {
    margin-top:5%;
}

.formula code {
    padding: 2px 4px;
    border-radius: 4px;
}

.FAQBestPicks {
    font-size: 16px;
}

.NormalizationFormula {
    color: #5A0273;
    font-weight:bold;
    font-size:20px;
    margin-left: 2%;
    margin-top: 5%;
    margin-bottom: 8%;
}

.MinOverallMatchesInfo {
    margin-top:5%;
    margin-bottom:3%;
    margin-left:1.5%;
}

.formulaNormalization {
    margin-top:5%;
}

.ExcludePlayerSwitch {

    display:flex;
    margin-left:-12%;
    padding-right:4%;


}


.SearchStatsInfoAnalyzer {
    color: #F2F2F2;
    margin: 0;
    position: absolute;
    top: 62%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 650px;
}
