.PlayerNick {
    width: 300px;
    text-align: center;
    color: #8202a5;
    font-weight: bold;
    font-size: 25px;
}

.InfoUnderCanvas {
    margin-top: 3%;
}

    .InfoUnderCanvas > p {
        color: red;
        font-weight: bold;
        margin-left: -1%;
    }

.EloInfoUnderCanvas {
    padding-left: 17%;
    font-size: 25px;
    margin-top: -3%;
}


.EloInfoUnderCanvas2 {
    padding-left: 18%;
    font-size: 20px;
    margin-top: -4%;
}

.EloInfoUnderCanvas3 {
    padding-left: 19%;
    font-size: 14px;
    margin-top: -3%;
}

.CountryFlag {
    margin-left: 1%;
}

.ProfilImage {
    border-width: 1px;
    border-style: solid;
    border-color: #8202a5;
}

.HighestCs2EloContainer a {
    color: white;
    text-decoration: none;
}


/* Make sure this comes after the above */
.max-links {
    text-decoration: none;
    color: inherit;
}

    .max-links:hover {
        color: RGB(224, 17, 95);
        background-color: #1a1a1a;
    }