.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.FillExampleData p {
    font-size: 13px;
    color: #7393B3;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 95%;
}

    .FillExampleData p span {
        cursor: pointer;
    }

        .FillExampleData p span:hover {
            background-color: #1a1a1a;
        }

input[type="text"],
input[type="submit"] {
    color: #F2F2F2;
    font-size: 20px;
    box-sizing: border-box;
    transition: .5s;
    height: 50px;
}

input[type="text"] {
    background-color: transparent;
    border: 1px solid #f50;
    border-right: 0px; 
    width: 280px;
    outline: none;
    padding: 0 25px;
    border-radius: 25px 0 0 25px;
    flex: 1;
    min-width: 0;
}

    input[type="text"]:focus {
        background-color: transparent !important;
        box-shadow: none !important;
        outline: none !important;
    }

input[type="submit"] {
    position: relative;
    border-radius: 0 25px 25px 0;
    width: 150px;
    border: 1px solid #f50;
    border-left: 0px;
    outline: none;
    cursor: pointer;
    background-color: transparent;
    transition: .5s;
}

    input[type="submit"]:hover {
        background: #ff3c22;
    }

.SearchStatsInfo {
    color: #F2F2F2;
    margin: 0;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 650px;
}
