:root {
    --maincolor: #1f1f1f;
    --darkermain: #161616;
    --orange: #f50;
    --lgbt-color-red: #E70000;
    --lgbt-color-orange: #FF8C00;
    --lgbt-color-yellow: #FFEF00;
    --lgbt-color-green: #00811F;
    --lgbt-color-blue: #0044FF;
    --lgbt-color-violet: #760089;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
    transition: background-color 0s 600000s, color 0s 600000s !important;
}

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: var(--maincolor);
    background: linear-gradient(to right top,var(--darkermain),var(--maincolor));
    color: white;
    font-family: 'Play', sans-serif;
}

.box {
    position: absolute;
    justify-content: center;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

input[type="text"],
input[type="submit"] {
    color: white;
    font-size: 20px;
    box-sizing: border-box;
    transition: .5s;
    height: 50px;
}

input[type="text"] {
    background-color: transparent;
    border: 1px solid #f50;
    border-right: none;
    width: 340px;
    outline: none;
    padding: 0 25px;
    border-radius: 25px 0 0 25px;
    flex: 1;
    min-width: 0;
}

    input[type="text"]:focus {
        background-color: transparent !important;
        box-shadow: none !important;
        outline: none !important;
    }

input[type="submit"] {
    position: relative;
    border-radius: 0 25px 25px 0;
    width: 150px;
    border: 1px solid #f50;
    border-left: none;
    outline: none;
    cursor: pointer;
    background-color: transparent;
    color: #fff;
    transition: .5s;
}

    input[type="submit"]:hover {
        background: #ff3c22;
    }


.PlayerNick {
    width: 300px;
    text-align: center;
    color: darkmagenta;
    font-weight: bold;
    font-size: 25px;
}

.DISCLAIMER {
    width: fit-content;
    margin-top: 1%;
    text-align: left;
    color: rgb(139,0,0);
    font-weight: bold;
    font-size: 15px;
}

    .DISCLAIMER span {
        background-image: linear-gradient(to right, var(--lgbt-color-red), var(--lgbt-color-orange), var(--lgbt-color-yellow), var(--lgbt-color-green), var(--lgbt-color-blue), var(--lgbt-color-violet));
        display: inline;
        -webkit-background-clip: text;
        color: transparent;
        font-family: 'Oxygen', sans-serif;
    }


#faceitlvl {
    font-family: 'Play', sans-serif;
}

.mainstatspanel {
    margin-top: 60px;
}

.StatsContainer {
    display: flex;
    flex-wrap: wrap;
}

.OverallStats {
    font-size: 20px;
    width: 50%;
}

    .OverallStats p.title {
        font-size: 25px;
        font-weight: bold;
        color: darkmagenta;
    }

.Last20Stats {
    font-size: 20px;
    width: 50%;
}

    .Last20Stats p.title {
        font-size: 25px;
        font-weight: bold;
        color: darkmagenta;
    }

.SwitchToggle {
    width: 100%;
    border-top: 1px solid red;
    text-align: center;
    margin-left: -3%;
}

.Ranked5v5Games {
    margin-top: 3%;
    margin-left: 1%;
    display: inline-block;
}

.Only5v5Games {
    margin-top: -1%;
    margin-left: 1%;
    display: inline-block;
}

.WalkoverGames {
    margin-top: 3%;
    margin-left: 5%;
    display: inline-block;
}

.Ranked5v5Games > p {
    float: left;
    margin-top: -3%;
    font-size: 20px;
    margin-right: 10px;
}

.WalkoverGames > p {
    float: left;
    margin-top: -3%;
    font-size: 20px;
    margin-right: 10px;
}

.Only5v5Games > p {
    float: left;
    margin-top: -4%;
    font-size: 20px;
    margin-right: 10px;
}

.InfoUnderCanvas > p {
    color: red;
    font-weight: bold;
    margin-left: -3.5%;
}

.EloInfoUnderCanvas {
    padding-left: 17%;
    font-size: 25px;
}

.EloInfoUnderCanvas2 {
    padding-left: 19%;
    font-size: 19px;
    margin-top: -3%;
}

.PlayerNotFound {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.ProfilImage {
    border-width: 1px;
    border-style: solid;
    border-color: darkmagenta;
}

.PlayerNotFound .message {
    font-size: 30px;
    font-weight: bold;
    margin-top: -50vh;
}

.matchespanel {
    margin-top: 60px;
}

.matchesList {
    margin-top: -8%;
}

.maintable {
}

input[type="submit"]:hover {
    background: #ff3c22;
}

.navbarcolor {
    background-color: rgba(13,13,13,0);
}

.navbar-brand > span {
    color: #F2F2F2;
    transition: color ease-in-out 0.3s;
}

    .navbar-brand > span:hover {
        color: #ff3c22;
    }

.logo {
    margin-right: 10px;
}

.Result {
    font-weight: bold;
}

#EloChart {
    width: 100%;
    height: auto;
}

#MapsPlayedChart {
    width: 100%;
    height: 100%;
}

.MapsRadarChart {
    margin: 5%;
    margin-left: -5%;
}

.EloGraph {
    margin-top: 35px;
}

.ActiveFaceitMapPoolContainer {
    margin-top: 6%;
}

.matchesTable {
    background-color: transparent;
    border: none;
    color: white;
}

    .matchesTable thead {
        background-color: rgba(0, 0, 0, 0.7);
        font-weight: bold;
        font-size: 18px;
        color: darkmagenta;
    }

    /* Style the table rows */
    .matchesTable tbody tr {
        background-color: rgba(0, 0, 0, 0.4);
        cursor: pointer;
    }


    .matchesTable th,
    .matchesTable td {
        border-color: rgba(255, 255, 255, 0.2);
    }


    .matchesTable tbody tr:hover {
        background-color: rgba(0, 0, 0, 0.6);
    }


    .matchesTable tbody tr:last-child {
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    }

.matchesTableStats {
    background-color: transparent;
    border: none;
    color: white;
}

    .matchesTableStats thead {
        background-color: rgba(0, 0, 0, 0.7);
        font-size: 14px;
        color: darkmagenta;
    }

.MapsTable {
    background-color: transparent;
    border: none;
    color: white;
}

    .MapsTable thead {
        background-color: rgba(0, 0, 0, 0);
        font-size: 15px;
        color: darkmagenta;
    }

    .MapsTable tbody tr {
        background-color: rgba(0, 0, 0, 0.4);
        cursor: pointer;
    }


    .MapsTable th,
    .MapsTable td {
        border-color: rgba(255, 255, 255, 0.2);
        /*border-bottom: none;*/
    }


    .MapsTable tbody tr:hover {
        background-color: rgba(0, 0, 0, 0.6);
    }


    .MapsTable tbody tr:last-child td {
        border-bottom: none;
    }

    .MapsTable thead th {
        border: none;
    }

.TableMapTitle {
    text-align: center;
    margin-bottom: 30px; /* Adjust the margin as needed */
    margin-top: -10%;
}

    .TableMapTitle > h2 {
        color: #F2F2F2;
        font-size: 25px;
        /*font-weight:bold;*/
        margin: 0;
    }

.table-container {
    opacity: 0;
    transform: translateY(50px); /* Adjust the translateY value as needed */
    transition: opacity 0.5s, transform 0.5s;
}

    .table-container.visible {
        opacity: 1;
        transform: translateY(0);
    }

.MapStatsRow {
    display: flex;
    align-items: flex-start;
    margin-top: 6%;
}

.match-row.BLAST {
    background-color: rgba(85,27,142,0.2);
    cursor: pointer;
}

.match-row.BLAST:hover {
    background-color: rgba(85,27,142,0.18);
}

.CountryFlag {
    margin-left:1%;
}

.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
}

    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

    .slider:before {
        position: absolute;
        content: "";
        height: 16px;
        width: 16px;
        left: 2px;
        bottom: 2px;
        background-color: #F2F2F2;
        -webkit-transition: .4s;
        transition: .4s;
    }

input:checked + .slider {
    background-color: red;
}

input:focus + .slider {
    /*box-shadow: 0 0 1px red;*/
}

input:checked + .slider:before {
    -webkit-transform: translateX(16px);
    -ms-transform: translateX(16px);
    transform: translateX(19px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 24px;
}

    .slider.round:before {
        border-radius: 50%;
    }


.load-more-button {
    position: relative;
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    border: none;
    outline: none;
    border-radius: 2px;
    font-size: 16px;
    cursor: pointer;
    margin-right: 45%;
    margin-left: 45%;
    transition: background-color 0.3s;
    transition: color 0.3s;
    height: 31px;
    width: 10%;
}

    .load-more-button:hover {
        background-color: rgba(0, 0, 0, 1);
        color: #ff3c22;
    }

#loadMoreButton {
    display:block;
}

/*.SeeCompleteStatistics-button {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    outline: none;
    border-radius: 2px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    transition: color 0.3s;
    height: 120%;
    width: 17%;
    margin:auto;
}*/

.SeeCompleteStatistics-button:hover {
    background-color: rgba(0, 0, 0, 1);
    color: #ff3c22;
}

/*.button-container {
    text-align: center;
}
*/

.bg {
    background: #0D0D0D no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -3;
}

    .bg:before {
        content: "";
        width: 100%;
        height: 100%;
        background: #000;
        position: fixed;
        z-index: -1;
        top: 0;
        left: 0;
        opacity: 0.3;
    }

@keyframes sf-fly-by-1 {
    0% {
        transform: translateZ(-400px);
        opacity: 0.5;
    }

    100% {
        transform: translateZ(0);
        opacity: 0.5;
    }
}

@keyframes sf-fly-by-2 {
    0% {
        transform: translateZ(-1200px);
        opacity: 0.5;
    }

    100% {
        transform: translateZ(-600px);
        opacity: 0.5;
    }
}

@keyframes sf-fly-by-3 {
    0% {
        transform: translateZ(-1800px);
        opacity: 0.5;
    }

    100% {
        transform: translateZ(-1200px);
        opacity: 0.5;
    }
}

.star-field {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    perspective: 600px;
    -webkit-perspective: 600px;
    z-index: -1;
}

    .star-field .layer {
        box-shadow: -411px -476px red, 777px -407px #d4d4d4, -387px -477px #fcfcfc, -91px -235px red, 491px -460px red, 892px -128px #f7f7f7, 758px -277px red, 596px 378px red, 647px 423px whitesmoke, 183px 389px red, 524px -237px #f0f0f0, 679px -535px red, 158px 399px #ededed, 157px 249px #ededed, 81px -450px #ebebeb, 719px -360px #c2c2c2, -499px 473px #e8e8e8, -158px -349px red, 870px -134px #cfcfcf, 446px 404px #c2c2c2, 440px 490px #d4d4d4, 414px 507px #e6e6e6, -12px 246px red, -384px 369px #e3e3e3, 641px -413px #fcfcfc, 822px 516px #dbdbdb, 449px 132px #c2c2c2, 727px 146px #f7f7f7, -315px -488px red, 952px -70px #e3e3e3, -869px -29px red, 502px 80px red, 764px 342px red, -150px -380px red, 654px -426px red, -325px -263px red, 755px -447px red, 729px -177px red, -682px -391px red, 554px -176px #ededed, -85px -428px red, 714px 55px #e8e8e8, 359px -285px red, -362px -508px red, 468px -265px #fcfcfc, 74px -500px #c7c7c7, -514px 383px #dbdbdb, 730px -92px #cfcfcf, -112px 287px red, -853px 79px #d6d6d6, 828px 475px red, -681px 13px red, -176px 209px red, 758px 457px #fafafa, -383px -454px red, 813px 179px #d1d1d1, 608px 98px red, -860px -65px #c4c4c4, -572px 272px red, 459px 533px red, 624px -481px red, 790px 477px red, 731px -403px #ededed, 70px -534px red, -23px 510px red, -652px -237px whitesmoke, -690px 367px #d1d1d1, 810px 536px red, 774px 293px #c9c9c9, -362px 97px red, 563px 47px #dedede, 313px 475px red, 839px -491px red, -217px 377px #d4d4d4, -581px 239px red, -857px 72px #cccccc, -23px 340px #dedede, -837px 246px red, 170px -502px #cfcfcf, 822px -443px #e0e0e0, 795px 497px #e0e0e0, -814px -337px #cfcfcf, 206px -339px #f2f2f2, -779px 108px #e6e6e6, 808px 2px #d4d4d4, 665px 41px #d4d4d4, -564px 64px #cccccc, -380px 74px #cfcfcf, -369px -60px red, 47px -495px #e3e3e3, -383px 368px #f7f7f7, 419px 288px red, -598px -50px #c2c2c2, -833px 187px #c4c4c4, 378px 325px red, -703px 375px red, 392px 520px red, -492px -60px red, 759px 288px #ebebeb, 98px -412px #c4c4c4, -911px -277px red;
        transform-style: preserve-3d;
        position: absolute;
        top: 50%;
        left: 50%;
        height: 10px; /* Increase the size as desired */
        width: 10px; /* Increase the size as desired */
        border-radius: 40px; /* Adjust the border radius if needed */
    }

        .star-field .layer:nth-child(1) {
            animation: sf-fly-by-1 17s linear infinite;
        }

        .star-field .layer:nth-child(2) {
            animation: sf-fly-by-2 17s linear infinite;
        }

        .star-field .layer:nth-child(3) {
            animation: sf-fly-by-3 17s linear infinite;
        }
