:root {
    --maincolor: #1f1f1f;
    --darkermain: #161616;
    --orange: #f50;
}

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: var(--maincolor);
    background: linear-gradient(to right top,var(--darkermain),var(--maincolor));
    color: white;
    font-family: 'Play', sans-serif;
}

.box {
    position: absolute;
    justify-content: center;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

input {
    position: relative;
    display: inline-block;
    font-size: 20px;
    box-sizing: border-box;
    transition: .5s;
}

    input[type="text"] {
        background: #fff;
        width: 340px;
        height: 50px;
        border: none;
        outline: none;
        padding: 0 25px;
        border-radius: 25px 0 0 25px;
    }

    input[type="submit"] {
        left: -5px;
        position: relative;
        border-radius: 0 25px 25px 0;
        width: 150px;
        height: 50px;
        border: none;
        outline: none;
        cursor: pointer;
        background-color: #f50;
        color: #fff;
    }

.PlayerNick {
    width: 300px;
    text-align: center;
    color: darkmagenta;
    font-weight: bold;
    font-size: 25px;
}

#faceitlvl {
    font-family: 'Play', sans-serif;
}

.mainstatspanel {
    margin-top: 60px;
}

.StatsContainer {
    display: flex;
    flex-wrap:wrap;
}

.OverallStats {
    font-size: 20px;
    width: 50%;
}

    .OverallStats p.title {
        font-size: 25px;
        font-weight: bold;
        color: darkmagenta;
    }

.Last20Stats {
    font-size: 20px;
    width: 50%;
}

.Last20Stats p.title {
    font-size: 25px;
    font-weight: bold;
    color: darkmagenta;
}

.SwitchToggle {
    width:100%;
    border-top: 1px solid red;
    text-align: center;
}

.Include1v1 {
    margin-top: 3%;
    display: inline-block;
}

    .Include1v1 > p {
        float: left;
        margin-top: -3%;
        font-size: 20px;
        margin-right: 10px;
    }

.InfoUnderCanvas > p {
    color: red;
    font-weight: bold;
    margin-left: -3.5%;
}

.EloInfoUnderCanvas {
    padding-left: 24%;
    font-size: 20px;
}

.PlayerNotFound {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.ProfilImage {
    border-width: 1px;
    border-style: solid;
    border-color: darkmagenta;
}

.PlayerNotFound .message {
    font-size: 30px;
    font-weight: bold;
    margin-top: -50vh;
}

.matchespanel {
    margin-top: 60px;
}

input[type="submit"]:hover {
    background: #ff3c22;
}

.navbarcolor {
    background-color: #ff3c22;
}

.logo {
    margin-right: 10px;
}

.Result {
    font-weight:bold;
}

#EloChart {
    width: 100%;
    height: auto;
}

.EloGraph {
    margin-top:35px;
}

.matchesTable {
    background-color: transparent;
    border: none;
    color: white;
}

    .matchesTable thead {
        background-color: rgba(0, 0, 0, 0.7); 
        font-weight:bold;
        font-size:18px;
        color: darkmagenta; 
    }

    /* Style the table rows */
    .matchesTable tbody tr {
        background-color: rgba(0, 0, 0, 0.4); 
        cursor: pointer;
    }


    .matchesTable th,
    .matchesTable td {
        border-color: rgba(255, 255, 255, 0.2); 
    }

    
    .matchesTable tbody tr:hover {
        background-color: rgba(0, 0, 0, 0.6); 
    }

    
    .matchesTable tbody tr:last-child {
        border-bottom: 1px solid rgba(255, 255, 255, 0.2); 
    }

.matchesTableStats {
    background-color: transparent;
    border: none;
    color: white;
}

.matchesTableStats thead {
    background-color: rgba(0, 0, 0, 1);
    font-weight: bold;
    font-size: 14px;
    color: darkmagenta;
}


.switch {
    position: relative;
    display: inline-block;
    width: 40px; 
    height: 20px; 
}

    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

    .slider:before {
        position: absolute;
        content: "";
        height: 16px; 
        width: 16px; 
        left: 2px;
        bottom: 2px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }

input:checked + .slider {
    background-color: red;
}

input:focus + .slider {
    /*box-shadow: 0 0 1px red;*/
}

input:checked + .slider:before {
    -webkit-transform: translateX(16px); 
    -ms-transform: translateX(16px); 
    transform: translateX(19px); 
}

/* Rounded sliders */
.slider.round {
    border-radius: 24px; 
}

    .slider.round:before {
        border-radius: 50%;
    }




.bg {
    background: #0D0D0D no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -3;
}

    .bg:before {
        content: "";
        width: 100%;
        height: 100%;
        background: #000;
        position: fixed;
        z-index: -1;
        top: 0;
        left: 0;
        opacity: 0.3;
    }

@keyframes sf-fly-by-1 {
    0% {
        transform: translateZ(-400px);
        opacity: 0.5;
    }

    100% {
        transform: translateZ(0);
        opacity: 0.5;
    }
}

@keyframes sf-fly-by-2 {
    0% {
        transform: translateZ(-1200px);
        opacity: 0.5;
    }

    100% {
        transform: translateZ(-600px);
        opacity: 0.5;
    }
}

@keyframes sf-fly-by-3 {
    0% {
        transform: translateZ(-1800px);
        opacity: 0.5;
    }

    100% {
        transform: translateZ(-1200px);
        opacity: 0.5;
    }
}

.star-field {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    perspective: 600px;
    -webkit-perspective: 600px;
    z-index: -1;
}

    .star-field .layer {
        box-shadow: -411px -476px red, 777px -407px #d4d4d4, -387px -477px #fcfcfc, -91px -235px red, 491px -460px red, 892px -128px #f7f7f7, 758px -277px red, 596px 378px red, 647px 423px whitesmoke, 183px 389px red, 524px -237px #f0f0f0, 679px -535px red, 158px 399px #ededed, 157px 249px #ededed, 81px -450px #ebebeb, 719px -360px #c2c2c2, -499px 473px #e8e8e8, -158px -349px red, 870px -134px #cfcfcf, 446px 404px #c2c2c2, 440px 490px #d4d4d4, 414px 507px #e6e6e6, -12px 246px red, -384px 369px #e3e3e3, 641px -413px #fcfcfc, 822px 516px #dbdbdb, 449px 132px #c2c2c2, 727px 146px #f7f7f7, -315px -488px red, 952px -70px #e3e3e3, -869px -29px red, 502px 80px red, 764px 342px red, -150px -380px red, 654px -426px red, -325px -263px red, 755px -447px red, 729px -177px red, -682px -391px red, 554px -176px #ededed, -85px -428px red, 714px 55px #e8e8e8, 359px -285px red, -362px -508px red, 468px -265px #fcfcfc, 74px -500px #c7c7c7, -514px 383px #dbdbdb, 730px -92px #cfcfcf, -112px 287px red, -853px 79px #d6d6d6, 828px 475px red, -681px 13px red, -176px 209px red, 758px 457px #fafafa, -383px -454px red, 813px 179px #d1d1d1, 608px 98px red, -860px -65px #c4c4c4, -572px 272px red, 459px 533px red, 624px -481px red, 790px 477px red, 731px -403px #ededed, 70px -534px red, -23px 510px red, -652px -237px whitesmoke, -690px 367px #d1d1d1, 810px 536px red, 774px 293px #c9c9c9, -362px 97px red, 563px 47px #dedede, 313px 475px red, 839px -491px red, -217px 377px #d4d4d4, -581px 239px red, -857px 72px #cccccc, -23px 340px #dedede, -837px 246px red, 170px -502px #cfcfcf, 822px -443px #e0e0e0, 795px 497px #e0e0e0, -814px -337px #cfcfcf, 206px -339px #f2f2f2, -779px 108px #e6e6e6, 808px 2px #d4d4d4, 665px 41px #d4d4d4, -564px 64px #cccccc, -380px 74px #cfcfcf, -369px -60px red, 47px -495px #e3e3e3, -383px 368px #f7f7f7, 419px 288px red, -598px -50px #c2c2c2, -833px 187px #c4c4c4, 378px 325px red, -703px 375px red, 392px 520px red, -492px -60px red, 759px 288px #ebebeb, 98px -412px #c4c4c4, -911px -277px red;
 
        transform-style: preserve-3d;
        position: absolute;
        top: 50%;
        left: 50%;
        height: 10px; /* Increase the size as desired */
        width: 10px; /* Increase the size as desired */
        border-radius: 40px; /* Adjust the border radius if needed */
    }

        .star-field .layer:nth-child(1) {
            animation: sf-fly-by-1 17s linear infinite;
        }

        .star-field .layer:nth-child(2) {
            animation: sf-fly-by-2 17s linear infinite;
        }

        .star-field .layer:nth-child(3) {
            animation: sf-fly-by-3 17s linear infinite;
        }

