.starfield-switch {
    display: flex;
    align-items: center;
    margin-left: -23%;
    margin-top: 3%; 
}

.starfield-check-input {
    display: none; 
}

.starfield-check-label {
    position: relative;
    display: inline-block;
    width: 32px; 
    height: 16px; 
    background-color: #303030; 
    border-radius: 8px; 
    cursor: pointer;
}

.starfield-check-input:checked + .starfield-check-label {
    background-color: #ff3c22; 
}

.starfield-check-label::before {
    content: '';
    position: absolute;
    width: 12px; 
    height: 12px; 
    background-color: #fff; 
    border-radius: 50%; 
    left: 2px; 
    top: 2px; 
    transition: transform 0.3s ease; 
}

.starfield-check-input:checked + .starfield-check-label::before {
    transform: translateX(16px); 
}

