

    <div class="FAQcontainer">
        <div class="col-md-12 FAQheader">
        <h2><span style="color:#ff3c22">FREQUENTLY</span> ASKED QUESTIONS (NO ONE EVER ASKED)</h2>
        </div>


    <div class="col-md-6 Questions">
        <div class="question">
            <img src="~/plus.png" alt="Plus-Icon" width="20" height="20" class="FAQplus" onclick="toggleAnswer('answer1')"> Where are you from?
        </div>
        <div class="answer" id="answer1">
            <div class="FAQrightArrowContainer">
                <img src="~/chevrons-right.png" alt="Right-Arrow-Icon" width="20" height="20" class="FAQrightArrow">
            </div>
            <div class="FAQanswerContainer">
                kurwa <img src="https://flagsapi.com/PL/shiny/64.png" width="20px" height="20px" class="FAQflag">
            </div>
        </div>

        <div class="question">
            <img src="~/plus.png" alt="Plus-Icon" width="20" height="20" class="FAQplus" onclick="toggleAnswer('answer2')"> Are you an alcoholic?
        </div>
        <div class="answer" id="answer2">
            <div class="FAQrightArrowContainer">
                <img src="~/chevrons-right.png" alt="Right-Arrow-Icon" width="20" height="20" class="FAQrightArrow">
            </div>
            <div class="FAQanswerContainer">
                Surprisingly...not! (yet)
            </div>
        </div>

        <div class="question">
            <img src="~/plus.png" alt="Plus-Icon" width="20" height="20" class="FAQplus" onclick="toggleAnswer('answer3')"> What's the purpose of creating this site?
        </div>
        <div class="answer" id="answer3">
            <div class="FAQrightArrowContainer">
                <img src="~/chevrons-right.png" alt="Right-Arrow-Icon" width="20" height="20" class="FAQrightArrow">
            </div>
            <div class="FAQanswerContainer">
                I used to play a lot of Counter-Strike back then. However, when I realized there was no chance to compete with 14yo 20kh 30avg 10k Elo kids from Russia (I was just bad), I decided to focus more on programming. As part of my learning path, I decided to create something related to my previous hobby.
            </div>
        </div>

        <div class="question">
            <img src="~/plus.png" alt="Plus-Icon" width="20" height="20" class="FAQplus" onclick="toggleAnswer('answer4')"> Where can I report a bug?
        </div>
        <div class="answer" id="answer4">
            <div class="FAQrightArrowContainer">
                <img src="~/chevrons-right.png" alt="Right-Arrow-Icon" width="20" height="20" class="FAQrightArrow">
            </div>
            <div class="FAQanswerContainer">
                Should you encounter any issues on this page, please leave a comment under my <a href="https://steamcommunity.com/profiles/76561198298220008" class="SteamContact" target="_blank">steam profile.</a> Your feedback is widely appreciated.
            </div>
        </div>

        <div class="question">
            <img src="~/plus.png" alt="Plus-Icon" width="20" height="20" class="FAQplus" onclick="toggleAnswer('answer5')"> How to contact with you?
        </div>
        <div class="answer" id="answer5">
            <div class="FAQrightArrowContainer">
                <img src="~/chevrons-right.png" alt="Right-Arrow-Icon" width="20" height="20" class="FAQrightArrow">
            </div>
            <div class="FAQanswerContainer">
                For business inquiries please contact me via <a href="https://x.com/majdii03" class="TwitterContact" target="_blank">Twitter</a>
            </div>
        </div>

        <div class="question">
            <img src="~/plus.png" alt="Plus-Icon" width="20" height="20" class="FAQplus" onclick="toggleAnswer('answer6')"> I really like your page. How can I support you?
        </div>
        <div class="answer" id="answer6">
            <div class="FAQrightArrowContainer">
                <img src="~/chevrons-right.png" alt="Right-Arrow-Icon" width="20" height="20" class="FAQrightArrow">
            </div>
            <div class="FAQanswerContainer">
                yes I think sending me your moni is a very good idea since it might allow me to afford and play with a butterfly knife in the future.
                <br>
                <br>
                plz buy virtual beer: <a href="https://buymeacoffee.com/majdii" class="BuyBeer" target="_blank">Buy me a beer</a>
            </div>
        </div>
    </div>


            </div>
    </div>

    <script>
        function toggleAnswer(answerId) {
            var answerElement = document.getElementById(answerId);
            if (answerElement.style.display === 'block') {
                answerElement.style.display = 'none';
            } else {
                answerElement.style.display = 'block';
            }
        }
    </script>
