

<div class="FAQcontainer">
    <div class="col-md-12 FAQheader">
        <h2><span style="color:#ff3c22">FREQUENTLY</span> ASKED QUESTIONS (<span style="color:#ff3c22">NO ONE</span> EVER ASKED)</h2>
    </div>


    <div class="col-md-6 Questions">
        <div class="question">
            <img src="/Assets/plus.png" alt="Plus-Icon" width="20" height="20" class="FAQplus" onclick="toggleAnswer('answer1')"> <span>Where are you from?</span>
        </div>
        <div class="answer" id="answer1">
            <div class="FAQrightArrowContainer">
                <img src="/Assets/chevrons-right.png" alt="Right-Arrow-Icon" width="20" height="20" class="FAQrightArrow">
            </div>
            <div class="FAQanswerContainer">
                <span>kurwa <img src="https://flagsapi.com/PL/shiny/64.png" width="20px" height="20px" class="FAQflag"></span>
            </div>
        </div>

        <div class="question" style="display:none;">
            <img src="/Assets/plus.png" alt="Plus-Icon" width="20" height="20" class="FAQplus" onclick="toggleAnswer('answer2')"><span>Are you an alcoholic?</span>
        </div>
        <div class="answer" id="answer2">
            <div class="FAQrightArrowContainer">
                <img src="/Assets/chevrons-right.png" alt="Right-Arrow-Icon" width="20" height="20" class="FAQrightArrow">
            </div>
            <div class="FAQanswerContainer">
                <span>not yet</span>
            </div>
        </div>

        <div class="question">
            <img src="/Assets/plus.png" alt="Plus-Icon" width="20" height="20" class="FAQplus" onclick="toggleAnswer('answer3')"><span>What's the purpose of creating this site?</span>
        </div>
        <div class="answer" id="answer3">
            <div class="FAQrightArrowContainer">
                <img src="/Assets/chevrons-right.png" alt="Right-Arrow-Icon" width="20" height="20" class="FAQrightArrow">
            </div>
            <div class="FAQanswerContainer">
                <span>I used to play a lot of Counter-Strike back then. However, I was bad af so I decided to focus more on programming. As part of my learning path, I decided to create something related to my previous hobby.</span>
            </div>
        </div>


        <div class="question">
            <img src="/Assets/plus.png" alt="Plus-Icon" width="20" height="20" class="FAQplus" onclick="toggleAnswer('answer6')"> <span>What is Balance?</span>
        </div>
        <div class="answer" id="answer6">
            <div class="FAQrightArrowContainer">
                <img src="/Assets/chevrons-right.png" alt="Right-Arrow-Icon" width="20" height="20" class="FAQrightArrow">
            </div>
            <div class="FAQanswerContainer">
                <span>Balance is information on how much ELO you gained or lost within the last 20 matches.</span>

                <br />
                <br />

                <img src="~/Assets/BLAST.png" class="blast-image" />
            </div>
        </div>


        <div class="question">
            <img src="/Assets/plus.png" alt="Plus-Icon" width="20" height="20" class="FAQplus" onclick="toggleAnswer('answer11')"> <span>What does the OTHERS filter do?</span>
        </div>
        <div class="answer" id="answer11">
            <div class="FAQrightArrowContainer">
                <img src="/Assets/chevrons-right.png" alt="Right-Arrow-Icon" width="20" height="20" class="FAQrightArrow">
            </div>
            <div class="FAQanswerContainer">
                <span>The OTHERS filter shows Walkovers, as well as some special matches that were played on FACEIT, such as BLAST.</span>
            </div>
        </div>



        <div class="question">
            <img src="/Assets/plus.png" alt="Plus-Icon" width="20" height="20" class="FAQplus" onclick="toggleAnswer('answer7')"> <span>What is the Analyzer feature for?</span>
        </div>
        <div class="answer" id="answer7">
            <div class="FAQrightArrowContainer">
                <img src="/Assets/chevrons-right.png" alt="Right-Arrow-Icon" width="20" height="20" class="FAQrightArrow">
            </div>
            <div class="FAQanswerContainer">
                
                <div>
                    <span>
                        The Analyzer feature was designed to enhance your experience during pre-match map banning. It calculates and displays statistics from the current map pool, allowing you to exclude individual players from calculations to see how team statistics change without them. Additionally, I developed a formula to identify the best map picks for your team. The best pick represents the most advantageous map to play against your opponents, ranked from left to right. It’s not perfect, and neither is, but it can give you a solid starting point when you’re stuck on which map to ban.
                    </span>
                </div>
            </div>
        </div>

        <div class="question" style="display: flex; align-items: flex-start;">
            <img src="/Assets/plus.png" alt="Plus-Icon" width="20" height="20" class="FAQplus" onclick="toggleAnswer('answer10')" style="margin-right: 5px;"> <span style="display: inline-block; margin-top: -0.8%;">Why does the last 20 section in the Analyzer display more than 100 combined matches?</span>
        </div>
        <div class="answer" id="answer10">
            <div class="FAQrightArrowContainer">
                <img src="/Assets/chevrons-right.png" alt="Right-Arrow-Icon" width="20" height="20" class="FAQrightArrow">
            </div>
            <div class="FAQanswerContainer">
                <span>This happens when one of the players has played a BO3 match within their last 20 games.</span>
            </div>
        </div>

        <div class="question">
            <img src="/Assets/plus.png" alt="Plus-Icon" width="20" height="20" class="FAQplus" onclick="toggleAnswer('answer4')"><span>Where can I report a bug?</span>
        </div>
        <div class="answer" id="answer4">
            <div class="FAQrightArrowContainer">
                <img src="/Assets/chevrons-right.png" alt="Right-Arrow-Icon" width="20" height="20" class="FAQrightArrow">
            </div>
            <div class="FAQanswerContainer">
                <span>Should you encounter any issues on this page, please leave a comment under my <a href="https://steamcommunity.com/profiles/76561198298220008" class="SteamContact" target="_blank">steam profile.</a> Your feedback is widely appreciated.</span>
            </div>
        </div>

        <div class="question">
            <img src="/Assets/plus.png" alt="Plus-Icon" width="20" height="20" class="FAQplus" onclick="toggleAnswer('answer5')"> <span>How to contact with you?</span>
        </div>
        <div class="answer" id="answer5">
            <div class="FAQrightArrowContainer">
                <img src="/Assets/chevrons-right.png" alt="Right-Arrow-Icon" width="20" height="20" class="FAQrightArrow">
            </div>
            <div class="FAQanswerContainer">
                <span>For business inquiries please contact me via <a href="https://x.com/majdii03" class="TwitterContact" target="_blank">Twitter</a></span>
            </div>
        </div>


        <div class="question">
            <img src="/Assets/plus.png" alt="Plus-Icon" width="20" height="20" class="FAQplus" onclick="toggleAnswer('answer8')"> <span>How are best map picks calculated?</span>
        </div>
        <div class="answer" id="answer8">
            <div class="FAQrightArrowContainer">
                <img src="/Assets/chevrons-right.png" alt="Right-Arrow-Icon" width="20" height="20" class="FAQrightArrow">
            </div>
            <div class="FAQanswerContainer">
 
                    <div class="FAQBestPicks">
                        <div>
                            <span>
                            Yes. I developed a formula to determine which map yields the highest winning percentage. This is called pure dedication. However, "developed" word is pretty exaggerated in that case. Basically all I did was to put
                                wages on the following factors:
                            </span>
                        </div>

                        <div class="formula formulaWages">
                        <div><br /><span><span style="color:#ff3c22;">1.</span> Overall quantity of matches played on the map - <span style="color:#8202a5; font-weight:bold;">0.785</span></span></div>
                        <div><br /><span><span style="color:#ff3c22;">2.</span> Overall Win Ratio % on the map - <span style="color:#8202a5; font-weight:bold;">0.105</span></span></div>
                        <div><br /><span><span style="color:#ff3c22;">3</span>. Overall K/D on the map - <span style="color:#8202a5; font-weight:bold;">0.05</span></span></div>
                        <div><br /><span><span style="color:#ff3c22;">4.</span> Overall K/R on the map - <span style="color:#8202a5; font-weight:bold;">0.05</span></span></div>
                        <div><br /><span><span style="color:#ff3c22;">5.</span> Last 20 quantity of matches on the map - <span style="color:#8202a5; font-weight:bold;">0.0030</span></span></div>
                        <div><br /><span><span style="color:#ff3c22;">6.</span> Last 20 Win Ratio on the map - <span style="color:#8202a5; font-weight:bold;">0.0030</span></span></div>
                        <div><br /><span><span style="color:#ff3c22;">7.</span> Last 20 K/D on the map - <span style="color:#8202a5; font-weight:bold;">0.0020</span></span></div>
                        <div><br /><span><span style="color:#ff3c22;">8.</span> Last 20 K/R on the map - <span style="color:#8202a5; font-weight:bold;">0.0020</span></span></div>               
                        </div>

                        <div>
                            <span>
                                Before applying the final formula, we need to normalize the data to rescale it between 0 and 1. For instance, if we have 5,000 matches as the total number of matches played by a team on a single map (summed up), we need to rescale this value to a range between 0 and 1 to make subsequent calculations more manageable. For this task, we use the Min-Max Normalization formula.
                            </span>
                        </div>

                        <div class="formula">

                        <p><span style="color:#ff3c22; font-size:18px;">Min-Max Normalization Formula:</span></p>

                           <div class="NormalizationFormula">

                                <p><strong>X<sub>norm</sub> = (X - X<sub>min</sub>) / (X<sub>max</sub> - X<sub>min</sub>)</strong></p>
                           </div>

                            <ul>
                                <li><div style="width:9%; display:inline-block;"><strong>X</strong></div><span style="margin-left:3%;"> is the original value.</span></li>
                                <li><div style="width:9%; display:inline-block;"><strong>X<sub>norm</sub></strong></div><span style="margin-left:3%;"> is the normalized value.</span></li>                       
                                <li><div style="width:9%; display:inline-block;"><strong>X<sub>min</sub></strong></div><span style="margin-left:3%;"> is the minimum value in the dataset.</span></li>
                                <li><div style="width:9%; display:inline-block;"><strong>X<sub>max</sub></strong></div><span style="margin-left:3%;"> is the maximum value in the dataset.</span></li>
                            </ul>
                        </div>

                        <div>
                            <span>
                                Here’s how I normalized the data:
                            </span>
                        </div>

                        <div class="formula formulaNormalization">

                            <div>
                                <br />
                                
                                <span>
                                     <span style="color:#ff3c22;">1.</span> 
                                    
                                    Overall Matches:
                                        <div style="display:inline-block; margin-left:2%;">Min: <span style="color:#8202a5; font-weight:bold;"> 0</span></div>
                                        <div style="display:inline-block; margin-left:1%;">-</div>
                                        <div style="display:inline-block; margin-left:1%;">  Max: <span style="color:#8202a5; font-weight:bold;">17000</span>

                                 </span>

                            </div>
                                    
                                <br />

                                <div class="MinOverallMatchesInfo">
                                    I assumed that the number of matches played on a single map by a team will not exceed 17000.
                                 </div>

                                    </span>
                                    </div>

                                 <br />
                            <div>
                                <span>
                                    <span style="color:#ff3c22;">2.</span>
                                    Win Ratio:
                                    <div style="display:inline-block; margin-left:2%;">Min: <span style="color:#8202a5; font-weight:bold;"> 0</span></div>
                                    <div style="display:inline-block; margin-left:1%;">-</div>
                                    <div style="display:inline-block; margin-left:1%;"> Max: <span style="color:#8202a5; font-weight:bold;"> 1</span></div>
                                </span>
                             </div>

                                <div>
                                    <br />
                                    <span>
                                        <span style="color:#ff3c22;">3.</span>
                                        Overall K/D:
                                        <div style="display:inline-block; margin-left:2%;">Min: <span style="color:#8202a5; font-weight:bold;"> 0</span></div>
                                        <div style="display:inline-block; margin-left:1%;">-</div>
                                        <div style="display:inline-block; margin-left:1%;"> Max: <span style="color:#8202a5; font-weight:bold;"> 3</span></div>
                                    </span>
                                </div>

                            <div>
                                <br />
                                <span>
                                    <span style="color:#ff3c22;">4.</span>
                                    Overall K/R:
                                    <div style="display:inline-block; margin-left:2%;">Min: <span style="color:#8202a5; font-weight:bold;"> 0</span></div>
                                    <div style="display:inline-block; margin-left:1%;">-</div>
                                    <div style="display:inline-block; margin-left:1%;"> Max: <span style="color:#8202a5; font-weight:bold;"> 2</span></div>
                                </span>
                            </div>

                            <div>
                                <br />
                                <span>
                                    <span style="color:#ff3c22;">5.</span>
                                    Last 20 Matches:
                                    <div style="display:inline-block; margin-left:2%;">Min: <span style="color:#8202a5; font-weight:bold;"> 0</span></div>
                                    <div style="display:inline-block; margin-left:1%;">-</div>
                                    <div style="display:inline-block; margin-left:1%;"> Max: <span style="color:#8202a5; font-weight:bold;"> 100</span></div>
                                </span>
                            </div>

                            <div>
                                <br />
                                <span>
                                    <span style="color:#ff3c22;">6.</span>
                                    Last 20 K/D:
                                    <div style="display:inline-block; margin-left:2%;">Min: <span style="color:#8202a5; font-weight:bold;"> 0</span></div>
                                    <div style="display:inline-block; margin-left:1%;">-</div>
                                    <div style="display:inline-block; margin-left:1%;"> Max: <span style="color:#8202a5; font-weight:bold;"> 5</span></div>
                                </span>
                            </div>

                            <div>
                                <br />
                                <span>
                                    <span style="color:#ff3c22;">7.</span>
                                    Last 20 K/R:
                                    <div style="display:inline-block; margin-left:2%;">Min: <span style="color:#8202a5; font-weight:bold;"> 0</span></div>
                                    <div style="display:inline-block; margin-left:1%;">-</div>
                                    <div style="display:inline-block; margin-left:1%;"> Max: <span style="color:#8202a5; font-weight:bold;"> 2</span></div>
                                </span>
                            </div>

                            <div>
                                <br />
                                <span>
                                    <span style="color:#ff3c22;">8.</span>
                                    Last 20 Win Ratio:
                                    <div style="display:inline-block; margin-left:2%;">Min: <span style="color:#8202a5; font-weight:bold;"> 0</span></div>
                                    <div style="display:inline-block; margin-left:1%;">-</div>
                                    <div style="display:inline-block; margin-left:1%;"> Max: <span style="color:#8202a5; font-weight:bold;"> 1</span></div>
                                </span>
                            </div>
                        </div>

                        <div>
                            <span>
                                Once we have normalized the data, we can use the final formula:
                            </span>
                        </div>

                        <div class="formula">
                            <p><span style="color:#ff3c22; font-size:22px;">Score Calculation Formula:</span></p>
                            <p>
                                <code>
                                    SCORE = (0.785 * Normalized Overall Matches) +<br>
                                    (0.105 * Normalized Overall WR) +<br>
                                    (0.05 * Normalized Overall KR) +<br>
                                    (0.05 * Normalized Overall KD) +<br>
                                    (0.0030 * Normalized Last20 Quantity Of Matches) +<br>
                                    (0.0030 * Normalized Last 20 WR) +<br>
                                    (0.0020 * Normalized Last 20 KD) +<br>
                                    (0.0020 * Normalized Last 20 KR) 
                                   
                                </code>
                            </p>
                        </div>
                    </div>

            </div>
        </div>

        <div class="question">
        <img src="/Assets/plus.png" alt="Plus-Icon" width="20" height="20" class="FAQplus" onclick="toggleAnswer('answer9')"> <span>I really like your page. How can I support you?</span>
        </div>
        <div class="answer" id="answer9">
            <div class="FAQrightArrowContainer">
            <img src="/Assets/chevrons-right.png" alt="Right-Arrow-Icon" width="20" height="20" class="FAQrightArrow">
            </div>
            <div class="FAQanswerContainer">
                <span>yes I think sending me your moni is a very good idea since it might allow me to afford and play with a butterfly knife in the future.</span>
                <br>
                <br>
                <span>plz buy virtual beer: <a href="https://buymeacoffee.com/majdii33" class="BuyBeer" target="_blank">Buy me a beer</a></span>
            </div>
        </div>
    </div>


</div>

<script>
    function toggleAnswer(answerId) {
        var answerElement = document.getElementById(answerId);
        if (answerElement.style.display === 'block') {
            answerElement.style.display = 'none';
        } else {
            answerElement.style.display = 'block';
        }
    }

        document.addEventListener('DOMContentLoaded', function() {
        if (window.location.hash) {
            var answerId = window.location.hash.substring(1);
            toggleAnswer(answerId);
        }
    });
</script>
