@using (Html.BeginForm("Analyze", "Analyzer", FormMethod.Get))
{
    <div class="row box">
        <div class="col-sm-12 search-container">
            <input type="text" id="SearchBarAnalyzer" placeholder="" name="RoomID" />
            <input type="submit" value="Search" />
        </div>
    </div>
}