@using (Html.BeginForm("Analyze", "Analyzer", FormMethod.Get))
{
    <div class="row box">
        <div class="FillExampleData"><p id="fillDataAnalyzer"><span>+ fill in with data</span></p></div>
        <div class="col-sm-12 search-container">
            <input type="text" id="SearchBarAnalyzer" placeholder="" name="RoomID" />
            <input type="submit" value="Search" />
        </div>
    </div>

    <div class="SearchStatsInfoAnalyzer">
        <p id="animatedInfoAnalyzer"></p>
    </div>
}

<script>
    document.addEventListener("DOMContentLoaded", function () {
    function animateInfoTextAnalyzer() {
        const info = document.getElementById("animatedInfoAnalyzer");
            const infoText = "This feature allows you to analyze the enemy team before the game starts to determine the best map picks against them.";
        let infoIndex = 0;
        let showCursor = true;

        function typeInfo() {
            let displayedText = infoText.substring(0, infoIndex);
            if (infoIndex < infoText.length) {
                displayedText += "|"; 
            }
            info.textContent = displayedText;
            if (infoIndex < infoText.length) {
                infoIndex++;
                setTimeout(typeInfo, 10);
            } else {
                showCursor = true; 
                blinkInfoCursor(); 
            }
        }

        typeInfo(); 
    }

        animateInfoTextAnalyzer();

    });

</script>



<script>
    document.addEventListener("DOMContentLoaded", function () {


        const dataList = ["https://www.faceit.com/pl/cs2/room/1-91ae6132-d21a-4e51-a422-d7477e83ba92"];


        function getRandomData() {
            const randomIndex = Math.floor(Math.random() * dataList.length);
            return dataList[randomIndex];
        }

        document.getElementById("fillDataAnalyzer").addEventListener("click", function () {
            // Clear the search bar
            const searchBar = document.getElementById("SearchBarAnalyzer");
            searchBar.value = "";


            searchBar.value = getRandomData();
        });
    });
</script>