<div id="ExtensionContainer">

    <div class="row">

        <div class="col-md-6">

            <div id="Extension-Name">

                <span>Faceit Position Caller</span>

            </div>

            <div id="Extension-Introduction">
                <span>
                    Are you tired of others calling your positions before you even touch the keyboard? Frustrated by level 1 players calling window in a 3k ELO average lobby? Or are you simply looking for an automated way to call your positions?
                </span>

               <span>
                    Look no further! Introducing Faceit Position Caller, a tool that lets you <em>instantly</em> call your position without even touching the keyboard.
               </span>
                <span>
                    You can send messages in both general and team chat as soon as the match starts. Moreover, it
                    instantly sends your message right after the map is picked –
                    <em>all with lightning speed, ensuring you're always one step ahead.</em>
                </span>
            </div>



            <div id="Browsers">

                <div id="Available-Info">
                    <span>
                        Available on
                    </span>
                </div>

                <a href="#" target="_blank" class="browser-button chrome">
                    <img src="Assets/chrome.png" alt="Chrome"/> Chrome 
                </a>
                <a href="#" target="_blank" class="browser-button opera">
                    <img src="Assets/opera.png" alt="Opera"/> Opera
                </a>
                <a href="#" target="_blank" class="browser-button firefox">
                    <img src="Assets/firefox.png" alt="Mozilla"/> Firefox
                </a>
                <a href="#" target="_blank" class="browser-button edge">
                    <img src="Assets/edge.png" alt="Edge"/> Edge
                </a>

            </div>

        </div>

        <div class="col-md-6">

            <div id="Extension-Image">
                <img src="Assets/Extension-screen.png" />
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-md-12">
            <div id="Extension-Example-Person-Images" class="image-container">
                <span style="display:inline-block;"></span>
                <img src="Assets/1lvl.png" id="1lvlImage"/>
                <img src="Assets/BotPositionTaken.png" />
            </div>

            <script>
                window.addEventListener('load', function () {
                    const images = document.querySelectorAll('#Extension-Example-Person-Images img');
                    images.forEach(img => {
                        img.classList.add('loaded');
                    });
                });
            </script>

        </div>
    </div>

    <div class="row">
        <div class="col-md-12">

            <div id="Extension-Video">

                <video width="100%" autoplay loop muted>
                    <source src="/Extension-video/Faceit-Position-Caller.mp4" type="video/mp4">
                </video>

            </div>

        </div>
    </div>

</div>